* {
  margin: 0;
  padding: 0;
  gap: 10px
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Constantia;
  background: #23235e;
  height: 18vh;
}

.logo {
  font-family: Monotype Corsiva;
}



.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.position {
  position: relative;
  top: -65px;
  left: 630px;
  
}

@keyframes aparecer {
  from {opacity:0; transform: translateY(20px);}
  to{opacity: 1; transform: translateY(0);}
  
}

.position, li, .boxshadow {
  animation: aparecer 1s ease-in-out
}

footer {
  background-color: #23235e;
  height: 100px;
  margin: 0;
  overflow: hidden;
  margin-top: 90px;
}
  
.border {
  border-radius: 50%
}

.display {
  display: grid;;
  justify-content: end;
  padding: 10px;
}

.position {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.position:hover {
  opacity: 0.5;
}

.boxshadow, ul {
  text-shadow: 9px 13px 9px black;
}

.flex {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.position2 {
 
  
}

header {
  height: 100%;
  overflow: hidden;
}

.challenge {
  margin-bottom: 100px;
  border-bottom: 1px solid #000;
  
  
}

  .mavi {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 50%;
  height: 50%;
  flex-wrap: wrap;
  
  /* Cartão Individual */
.mv {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px #23235e;
  background: #fff;
  flex-grow: 0; /* Proporção de crescimento do card em relação ao espaço vazio */
  flex-shrink: 0;
  flex-basis: 25%;
}

.mvp {
  display: block;
  width: 100%;
  border-radius: 10px;
  
}

.mv:hover {
  background-color: #23235e;
  transform: scale(1.1);
  transition-property: transform, background-color;
  transition-duration: 0.7s;
}

hover {
  position: fixed;
}