* {
  margin: 0;
  padding: 0;
  gap: 10px
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Constantia;
  background: #23235e;
  height: 18vh;
}

.logo {
  font-family: Monotype Corsiva;
}



.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

@keyframes aparecer {
  from {opacity:0; transform: translateY(20px);}
  to{opacity: 1; transform: translateY(0);}
  
}

.position, li, .boxshadow {
  animation: aparecer 1s ease-in-out
}

footer {
  background-color: #23235e;

  margin: 0;
  overflow: hidden;
  margin-top: 90px;
}
  
.border {
  border-radius: 50%
}

.display {
  display: grid;;
  justify-content: end;
  padding: 10px;
}

.position:hover {
  opacity: 0.5;
}

.boxshadow, ul {
  text-shadow: 9px 13px 9px black;
}

.flex {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

header {
  height: 100%;
  overflow: hidden;
}

.challenge {
  margin-bottom: 100px;
  border-bottom: 1px solid #000; 
  
}

  .mavi {
  display: flex;
  justify-content: end;
  gap: 40px;
  height: 70%;
  width: 80%;
  flex-wrap: wrap;
  margin-top: 100px;
  flex-shrink: 0;
  flex-basis: 30%;  
}
    
  .mv {
    
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px;
  gap: 2em;
  box-shadow: 10px 10px #23235e;
  background: #fff;
  transition-property: transform, background-color;
  transition-duration: 0.7s;
  flex-basis: 12%;
  flex-shrink: 0;  
}

.mvp {
  flex-basis: 12%;
  flex-shrink: 0;
  flex-grow: 30%;
  border-radius: 20px;
}

.mv:hover {
  background-color: #23235e;
  transform: scale(1.1);
  transition-property: transform, background-color;
  transition-duration: 0.7s, 0.7s;
}

hover {
  position: fixed;
}
    
.circle {
 animation-name: Main;
 animation-duration: 1s;
 
}

@keyframes Main {
  from {opacity:0; transform: translateY(20px);}
  to{opacity: 1; transform: translateY(0);}
  
}

.introduct {
	display: flex;
    justify-content: center;
	font-family: Bodoni MP;
	
	background-position: center;
	height: 700px;
	width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;      
    background-position: center; 
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
  
}
  
  .txt {
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid black;
  text-shadow: 2px 2px 4px black;
  color: white;
  font-weight: bold;
  text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
  
  }
  
  .txt2 {
  font-size: 20px;
  margin-top: 1em;
  color: white;
  font-weight: bold;
  text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
  
  }
  
  .bord {	
	margin-top: 60px;
	margin-left: 200px;
  }
  
  .bord2 {
	  margin-top: 65px;
	  margin-right: 200px;
  }
  
  .pp {
  font-size: 100px;
  font-family: Californian FB;
  color: orange; 
  background-color: #23235e;
   text-shadow: 
    -1px -1px 0 orange,  
     1px -1px 0 orange,
    -1px  1px 0 orange,
     1px  1px 0 orange;
	 margin-top: 10px;
  }
  
  .bora {
	  display: grid;
	  justify-content: center;
	  text-shadow: 
    -1px -1px 0 Black,
     1px -1px 0 Black,
    -1px  1px 0 Black,
     1px  1px 0 Black;
	 color: white;
	  
  }
  
  .ftr2 {
	  display: flex;
	  justify-content: center;
  }
  
  .cddc {
	  display: block;
	  justify-content: center;
  }
  
  
  .clr2 {
	itens-align: center;
	color: white;
	text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
  }
  
     .carrossel {
	 background-image: url(Imagens/Mavi.png);
	   background-repeat: no-repeat;
    background-size: cover;      
    background-position: center;
      width: 300%;
      max-width: 800px;
      margin: auto;
	  margin-left: 500px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    .slides {
      display: flex;
	  justify-content: center;
      width: 400%;
      animation: slide 12s infinite;
    }

    .slides img {
      width: 100%;
    }

    @keyframes slide {
      0% {margin-left: 0;}
      25% {margin-left: -100%;}
      50% {margin-left: -200%;}
      75% {margin-left: -300%;}
      100% {margin-left: 0;}
    }


  
  @media (max-width: 120px) {
	  .carrosel {
		margin-left: 900px;  
	  }
	  
	  
  }
  
  .ppp {
	 color: white; 
	  text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
	font-size: 29px;
	
	margin-right: 500px;
	 
  }
  
  .ppp2 {
	 color: white; 
	  text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
	font-size: 36px;
	background-image: linear-gradient(to bottom, #23235e, #EBF5FC);
	margin-right: 1600px;
	 
  }
  
  .pfvr {
	  display:flex;
	  justify-content: space-evenly;
	  margin: 0;
	  
  }
  
  .pfvr2 {
	  di
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*<div class="bord2">
      <img src="Imagens/Mescla.png" width="400px" class="circle">
      </img>
      </div>*/
	  
	 /* <article>
	 <div class="bord">
	 <p class="txt">Mais que uma caneca </p>
	 <p class="txt2"> As canecas não são apenas objetos,
	 são companheiras de momentos especiais.
	 Seja no café da manhã que desperta, no chá
	 que acalma ou naquela bebida quente que acompanha
	 um bom livro, cada caneca carrega consigo um
	 pedacinho da sua rotina e do seu estilo. Aqui, você
	 encontra modelos que unem praticidade, beleza e personalidade
	 — porque até os detalhes mais simples podem transformar o seu dia.</p>
	 </div>
	</article> */